<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<style>

    <link rel="stylesheet" href="/registro/main.css">






</style>
{% load static %}
<link rel="stylesheet" href="{% static 'registro/main.css'%}">



{% block css %} {% endblock css %}

</head>


<body>

<div class="topnav">
  <a class="active" href="{% url 'inicial' %}">Home</a>
  <a href="{% url 'registro' %}">registro</a>
</div>

{% block content %} 
{% csrf_token %} 
{% endblock %}

{% block scripts %}
{% endblock scripts %}




</body>
</html>

